body > * {
    margin: 5px;
    padding: 10px;
}

.container > aside, .container > main {
    float: left;
}

.container > aside {
    width: 250px;
}

.container > main {
    width: 1253px;
    margin-left: 5px;
    padding: 10px;
}

.container {
    display: flex;
    padding: 0;
}

body > header {
    background-image: url("/img/logo.svg");
    background-repeat: no-repeat;
    background-color: mediumaquamarine;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-origin: content-box;
    font-size: 1.5em;
}

nav {
    display: flex;
    right: 0;
}
